@define-color foreground #FEC6AC;
@define-color background #010006;
@define-color cursor #FEC6AC;

@define-color color0 #010006;
@define-color color1 #353243;
@define-color color2 #622429;
@define-color color3 #52404A;
@define-color color4 #8F2224;
@define-color color5 #735354;
@define-color color6 #BD450E;
@define-color color7 #F5A580;
@define-color color8 #AC745A;
@define-color color9 #474359;
@define-color color10 #833037;
@define-color color11 #6E5663;
@define-color color12 #BF2D30;
@define-color color13 #996E70;
@define-color color14 #FC5C13;
@define-color color15 #F5A580;
