@define-color foreground #E4DED9;
@define-color background #202122;
@define-color cursor #E4DED9;

@define-color color0 #464748;
@define-color color1 #3A3938;
@define-color color2 #4D4945;
@define-color color3 #605853;
@define-color color4 #736860;
@define-color color5 #86786D;
@define-color color6 #86786E;
@define-color color7 #D1C7C0;
@define-color color8 #928B86;
@define-color color9 #4E4C4B;
@define-color color10 #67615C;
@define-color color11 #80766E;
@define-color color12 #9A8B80;
@define-color color13 #B3A092;
@define-color color14 #B3A092;
@define-color color15 #D1C7C0;
