@define-color foreground #D2DADD;
@define-color background #00010C;
@define-color cursor #D2DADD;

@define-color color0 #00040E;
@define-color color1 #173B54;
@define-color color2 #163C56;
@define-color color3 #555453;
@define-color color4 #516671;
@define-color color5 #746153;
@define-color color6 #5F7177;
@define-color color7 #B6C2C7;
@define-color color8 #80888B;
@define-color color9 #1F4F70;
@define-color color10 #1E5173;
@define-color color11 #72706F;
@define-color color12 #6B8896;
@define-color color13 #9B816F;
@define-color color14 #7F969F;
@define-color color15 #B6C2C7;
