@define-color foreground #D8D6CE;
@define-color background #101213;
@define-color cursor #D8D6CE;

@define-color color0 #383A3B;
@define-color color1 #292C29;
@define-color color2 #393A34;
@define-color color3 #4A4940;
@define-color color4 #5B584B;
@define-color color5 #6C6756;
@define-color color6 #6C6756;
@define-color color7 #BFBCB1;
@define-color color8 #86837C;
@define-color color9 #363A36;
@define-color color10 #4C4E45;
@define-color color11 #636255;
@define-color color12 #7A7564;
@define-color color13 #908973;
@define-color color14 #908973;
@define-color color15 #BFBCB1;
