* {
    font: "JetBrainsMono Nerd Font 14";
    background:     rgba(5,8,9, 0.8);
    background-alt: rgba(38,76,89, 0.15);
    foreground:     rgba(251,237,225, 1);
    selected:       rgba(50,105,118, 0.7);
    active:         rgba(195,152,116, 1);
    urgent:         rgba(50,105,118, 1);
}
